---
app_base_url: ${jsonencode(app_base_url)}
app_private_ip: ${jsonencode(app_private_ip)}
app_public_ip: ${jsonencode(app_public_ip)}
api_url: ${jsonencode(api_url)}
grafana_url: ${jsonencode(grafana_url)}
k6_private_ip: ${jsonencode(k6_private_ip)}
k6_public_ip: ${jsonencode(k6_public_ip)}
prometheus_url: ${jsonencode(prometheus_url)}
repo_url: ${jsonencode(repo_url)}
repo_version: ${jsonencode(repo_version)}
ssh_user: ${jsonencode(ssh_user)}
